.Page {
    display: flex;
    flex-wrap: wrap;
  }

.coursesH {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: start;
    outline-style: solid;
    outline-color:black;
    outline-width: medium;
    outline-offset: 5px;
    margin-left: 32px;
}
.Header {
    height: 125px;
    width: 100%;
    background-color: #333;
    color: rgb(40, 67, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LeftPanel{
    height: 1200px;
    width: 20%;
    background-color: #333;
    padding: 0 5px;

}
.MiddlePanel{
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
    /* height: 1000px; */
    background-color: #cccab7;
    padding: 0 15px;
    flex-grow: 1;

}
#text1{
    color: white;
    text-align: center;
}
.searchTitles{
    color: white;
}
#middle{
    display: grid;
    background-color: #cccab7;
    flex-grow: 1;
}
