.Page {
    display: flex;
    flex-wrap: wrap;
  }

.coursesH {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: start;
    outline-style: solid;
    outline-color:black;
    outline-width: medium;
    outline-offset: 5px;
    margin-left: 32px;
    background-color: #cccab7
}
.Header {
    height: 125px;
    width: 100%;
    background-color: #333;
    color: rgb(40, 67, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LeftPanel{
    height: 1400px;
    width: 20%;
    background-color: #333;
    padding: 0 5px;

}
.MiddlePanel{
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
    /* height: 1000px; */
    background-color: #cccab7;
    padding: 0 15px;
    flex-grow: 1;

}
#text1{
    color: white;
    text-align: center;
}
.searchTitles{
    color: white;
}
#middle{
    display: grid;
    background-color: #cccab7;
    flex-grow: 1;
}
.searchboxes{
    width:250px
}
.searchbutton{
    background-color: #6495ed;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-self: center;
    border-radius: 12px;
}

.traineeForm{
    display: flex;
    justify-content: self ;
    flex-direction: column;
}
.viewbutton{
    background-color: #6495ed;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-self: center;
    border-radius: 12px;
}
.cancelbutton{
    background-color: #943636;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-self: center;
    border-radius: 12px;
}